<app-slider [nombre]="'Crear Articulo'" [size]="'small'"></app-slider>
<section id="content">

    <h1 class="subheader">Formulario</h1>

    <form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
         <div class="form-group">
             <label for="title">Titulo</label>
             <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title"/>
         
             <small *ngIf="!title.valid && title.touched"> el titulo no es valido</small>
        </div>


         <div class="form-group">
             <label for="content">contenido</label>
             <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>

            <small *ngIf="!content.valid && content.touched"> el contenido no es valida</small>
            
        </div>

        <div class="form-group">

            <angular-file-uploader
            [config]="afuConfig"
            (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>


        </div>



         <div class="clearfix"></div>

         <input type="submit" value="Guardar" class="btn btn-success" [disabled]='articleForm.invalid'/>
    </form>
 
</section>
<app-sidebar></app-sidebar>
